# Python
__pycache__/
*.py[cod]
*.pyo
.pytest_cache/
.env
venv/
.venv/

# Dane TrajAir (pobierane osobno)
data/

# Jupyter
.ipynb_checkpoints/

# LaTeX auxiliary
*.aux
*.log
*.out
*.toc
*.fls
*.fdb_latexmk
*.synctex.gz

# IDE
.vscode/
.idea/

# OS
.DS_Store
Thumbs.db
